{% load staticfiles %}

<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>:)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300'
rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab'
rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://googledrive.com/host/0B8Fy4akpGzhFd2pVYnE2aDBxYVU">
  <link rel="stylesheet" href="https://googledrive.com/host/0B8Fy4akpGzhFTU9uaUxPYkl2SXc">
  <link rel="stylesheet" href="https://googledrive.com/host/0B8Fy4akpGzhFM3o5cWtmaHFDemM">
  <!--<link rel="stylesheet" href="{% static 'myproject/custom.css' %}">
  <link rel="stylesheet" href="{% static 'myproject/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'myproject/skeleton.css' %}"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="favicon.png">

</head>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<body>
  <script>
    function test() {
      console.log("this multi-tasking works")
    }
  </script>
<!-- <header>
    <img src="../WSHack/images/twitter.png" alt="twitter bird"
style="width:50px;height:50px; float:left; margin-top:20px; margin-left:10px">
    <div id="fixedheader"><div id="title">Twitter Degrees of
Separation</div></div> 
</header> -->
  <div class="container">
    <div class="row">
      <!-- <h1>Degrees of Separation</h1><br> -->
      <div class="one-half column" style="margin-top: 15%; width: 100%">
        <img id="logo"src="http://i.imgur.com/FjVdLPv.png">
        <h1 id="dos">Degrees of Separation</h1><br>
        <h4>Compare</h4>
  <!--  <script>
        window.onload=function() {
            document.getElementById("viz").style.display="none"
        }
        function showViz() {
            document.getElementById("viz").style.display="block"
        } -->
    </script>
        <!-- The above form looks like this -->
        <form  method="post" >
              <input type="text" name="user1" placeholder="@sravantea"
id="id1"> <p id="to">to</p>
              <input type="text" name="user2" placeholder="@jtannady" id="id2">
              <input id="submit-button" onclick="showViz()" type="submit" />
        </form>
        <div>
        <!-- Standard buttons -->
        <!-- <a class="button" onClick="test()" href="#viz">Go</a> -->
        <!-- <button>Button element</button> -->
       <!--  <input type="submit" value="submit input">
        <input type="button" value="button input"> -->
      </div> 
    </div>
  </div>

<!-- load D3js -->
<script src="http://www.d3plus.org/js/d3.js"></script>
 
<!-- load D3plus after D3js -->
<script src="http://www.d3plus.org/js/d3plus.js"></script>

    <!-- create container element for visualization -->
<div id="viz"> <div>
<div id="return"><a class=" button button-primary" href="#">Back</a></div>

<script>
//Callback functions
    var error = function (err, response, body) {
        console.log('ERROR [%s]', err);
    };
    var success = function (data) {
        console.log('Data [%s]', data);
    };

    // var Twitter = require('twitter-js-client').Twitter;

    //Get this data from your twitter apps dashboard
    var config = {
        "consumerKey": "GdUgSU9KafMv4rDw4jTPK2Zcw",
        "consumerSecret": "lYY7ERRc8GlCBmvraSfuih2GJ15dNQB43UrXazYF3bg4QTMTdi",
        "accessToken": "2244644996-yesu4bH05QsU7l6KxH9xsy9zcQfc7R7Ieosp6zF",
        "accessTokenSecret": "xKUkGUUKMzK4e9I5GTzGiUuEXaFkEve2G7ITZNYIStkr8"
        // "callBackUrl": "https://nodejs.org/"
    }

    // var twitter = new Twitter(config);

      // var blah = {{users}};
      // console.log(blah);
      // var fake_data = {{users}}
                   
      var fake_data = [
        {"name": "Jordan A", "username": "jordy", "followers_count": 12},
        {"name": "Sravanti T", "username": "sravantea", "followers_count": 30},
        {"name": "Jenny W", "username": "weatherdsouls", "followers_count": 20}
        ];
        // console.log(fake_data[1]);
        var users = [];
        // console.log(fake_data[1].username)
    var usernames = [];
    {% for user in user_names %}
        usernames.push("{{user}}")
    {% endfor %}
    var followers = [] 
    {% for follower in user_follower_counts %}
         followers.push("{{follower}}")
   {% endfor %}
    var profiles = []
    {% for profile in user_profiles %}
        profiles.push("{{profile}}")
    {% endfor %}
    var handles = []
    {% for handle in user_handles %}
        handles.push("{{handle}}")
    {% endfor %}
    for(var i = 0; i < usernames.length; i++) {
        var id = handles[i]
        var name = usernames[i]
        var size = parseInt(followers[i])
        var image = profiles[i]
        var x_val = ((i+1) *5);
        var object = {"name": "", "size": 0, "x": 0, "y": 0, "image": ""}; // current object being added
        object["name"] = name;
        object["size"] = size;
        object["image"] = image; 
        object["x"] = x_val;
        object["y"] = 15;
        users.push(object);
    }
        console.log(users);
        // console.log("this user's object: " + object.name);
      // console.log("all the users: " + users);
      // return users;
  // }

  function tooltipSetter() {
    var message = "";
    for(i=0; i<handles.length; i++) {
      message = "@" + handles[i];
    }
    return message;
  }

  var user_data = [
    {"name": "jordan", "size": 10, "image": "jenny.jpg", "x": 5, "y": 15},
    {"name": "sravanti", "size": 40, "image": "sra.jpg", "x": 10, "y": 15},
    {"name": "jesslyn", "size": 30, "image": "jenny.jpg", "x": 15, "y": 15},
    {"name": "alice", "size": 26, "image": "sra.jpg", "x": 20, "y": 15},
    {"name": "jenny", "size": 12, "image": "jenny.jpg", "x": 25, "y": 15}
  ]

  // create list of node positions
  // var positions = [
  //   {"name": "jordan", "x": 5, "y": 15},
  //   {"name": "sravanti", "x": 10, "y": 15},
  //   {"name": "jesslyn", "x": 15, "y": 15},
  //   {"name": "alice", "x": 20, "y": 15},
  //   {"name": "jenny", "x": 25, "y": 15}
  // ]

  // create list of node connections
  var usernames = []
  {% for user in user_names %}
    usernames.push("{{user}}")
   {% endfor %}
  var connections = []
    for (var i = 0; i < usernames.length-1; i++) {
        var connection = {"source":"", "target":""}
        connection["source"] = usernames[i]
        connection["target"] = usernames[i+1]
        connections.push(connection);
    }
    console.log(connections);
    
    // {"source": "jesslyn", "target": "alice"},
    // {"source": "alice", "target": "jenny"}
  

  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz")  // container DIV to hold the visualization
    .type("network")    // visualization type
    .data(users)  // sample dataset to attach to nodes
    .icon({
      "style": "default",
      "value": "image"
    })
    .nodes(users)   // x and y position of nodes
    .edges(connections) // list of node connections
    .edges({
      "color": "#000"
    })
    .size("size")       // key to size the nodes
    .id("name")         // key for which our data is unique on
    .color({
      "scale": "category20b"
    })
    .tooltip({
      "html": tooltipSetter()
    })
    .background("#dbdbdb")
    .font({
      "family": "Raleway"
    })
    .draw()             // finally, draw the visualization!

</script>

<!-- <div id="fixedfooter"><div id="footertext">Produced by Team
Hyena</div></div> -->
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
